<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<!-- Код для примера -->

<% const menuItems = [
    {title: 'hairCare', link: '#'},
    {title: 'color', link: '#'},
    {title: 'styling', link: '#'},
    {title: 'texture', link: '#'},
    {title: 'get inspired', link: '#'},
    {title: 'social', link: '#'},
    {title: 'news', link: '#'},
    {title: 'about', link: '#'},
    {title: 'professional', link: '#'}
]; %>

<header class="header">
    <div class="header-top">
        <div class="address-box">
            <p class="address-box__heading">nearest salon <img src="img/ico_dropdown.svg" alt="" class="address-box__dropdown"></p>
            <p class="address-box__address">lorem ipsum 234651</p>
        </div>
        <label class="menu-hidden">
            <input id="menu-check-box" type="checkbox" class="menu-hidden__check-box">
            <div class="menu-hidden__icon-wrap"><%- include('img/ico_hidden-menu.svg')%></div>
        </label>
        <div class="logo-box">
            <img src="img/logo.svg" alt="" class="logo">
        </div>
        <form action="#" class="search">
            <input class="search__field" type="search" placeholder="Search...">
            <input class="search__btn" type="image" src="img/ico_search.svg">
        </form>
    </div>
    <div class="header-bottom">
        <menu id="menu" class="menu _hidden row">
            <% menuItems.forEach(item => { %>
                <li class="menu__item"><a class="menu__link" href="<%= item.link; %>"><%= item.title %></a></li>
            <% }) %>
        </menu>
    </div>
</header>

<%
    const breadCrumbs = [
        {title: 'home', link: '#'},
        {title: 'videos', link: '#'}
    ]
%>
<menu class="bread-crumbs">
    <% breadCrumbs.forEach( (item, ind) => { %>
        <li class="bread-crumbs__item"><a href="<%=item.link%>" class="bread-crumbs__link"><%=item.title%></a><%=(ind!==breadCrumbs.length-1)?' /':''%></li>
    <% }) %>
</menu>
<section class="content">
    <div class="main-video row">
        <h1 class="heading-primary">videos</h1>
        <div class="video-box">
            <a data-fancybox href="https://youtu.be/z8M0Fa1JVco">
                <img src="https://img.youtube.com/vi/z8M0Fa1JVco/maxresdefault.jpg" alt="" class="video-box__preview">
                <div class="video-box__btn-play _small"><img src="img/play-button.png" alt="play-button"></div>
            </a>
        </div>
        <p class="main-video__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, asperiores aspernatur consequatur dolorum error illum maiores minus neque nesciunt non placeat porro quasi recusandae sapiente sint vero voluptate voluptatibus. Aut deserunt earum facere, minima modi nisi perspiciatis qui vitae voluptas.</p>
    </div>
    <%
        const videosData = [
            {
                title: 'step by step',
                id: [
                        'z8M0Fa1JVco',
                        'Wi2KcdoCuo4',
                        '8H6dYUgQKB8',
                        'PZjGrmHdFME',
                        '_wLGr24VeoI',
                        'DG4FAU5qmMY'
                ]
            },
            {
                title: 'craft education',
                id: [
                        'RmNWNLXmswk',
                        '-tztXOz8Vc0',
                        'kUfIVtyydgQ'
                ]
            },
            {
                title: 'inspiration',
                id: [
                        'VmmwwzR536g',
                        'vz0k8O-Ef9Y',
                        '6oPBFnsqJW8'
                ]
            }
        ]
    %>
    <div id="gallery" class="video-gallery">
        <%
            videosData.forEach( item => { %>
            <div class="row">
                <h2 class="heading-secondary video-gallery__heading"><%item.title.split(' ').forEach( (word) => {%> <span><%=word%></span> <%})%></h2>
                <div class="slider">
                    <%item.id.forEach(id => {%>
                        <div class="video-box slider__item">
                            <a data-fancybox href="https://youtu.be/<%=id;%>">
                                <img src="https://img.youtube.com/vi/<%=id;%>/maxresdefault.jpg" alt="" class="video-box__preview">
                                <div class="video-box__btn-play _small"><img src="img/play-button.png" alt="play-button"></div>
                            </a>
                        </div>
                    <%})%>
                </div>
                <button class="load-btn video-gallery__btn">load more</button>
            </div>

            <%})%>
    </div>
</section>
<footer class="footer clear-fix">
    <%
    const footerContactItems = [
        {path: 'img/ico_facebook.svg', link: '#'},
        {path: 'img/ico_twitter.svg', link: '#'},
        {path: 'img/ico_pinterest.svg', link: '#'},
        {path: 'img/ico_youtube.svg', link: '#'},
        {path: 'img/ico_instagram.svg', link: '#'}
    ]
    %>
    <div class="footer__contacts footer__item">
        <ul class="footer__contact-list">
            <% footerContactItems.forEach( item => {%>
            <li class="footer__contact-item">
                <a href="<%=item.link%>" class="footer__link">
                    <div class="footer__icon-wrap"><%- include(`${item.path}`)%></div>
                </a>
            </li>
            <%})%>
        </ul>
    </div>
    <div class="footer__location footer__item">
        <p>location: <span class="footer__location-value">united state</span></p>
        <p>language: <span class="footer__location-value">english</span></p>
    </div>
    <%
        const footerNavItems = [
            {title: 'privacy policy', link: '#'},
            {title: 'terms of use', link: '#'},
            {title: 'contact us', link: '#'},
            {title: 'newsletter', link: '#'},
            {title: 'sitemap', link: '#'}
            ]
    %>
    <div class="footer__nav footer__item">
        <ul class="footer__nav-list">
            <% footerNavItems.forEach( item => {%>
                <li class="footer__nav-item">
                    <a href="<%=item.link%>" class="footer__link"><%=item.title%></a>
                </li>
            <%})%>
        </ul>
    </div>
</footer>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
