<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Narrow:400" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="slick-arrow slick-prev"></div>
<!-- Код для примера -->

<% const menuItems = [
    {title: 'hairCare', link: '#'},
    {title: 'color', link: '#'},
    {title: 'styling', link: '#'},
    {title: 'texture', link: '#'},
    {title: 'get inspired', link: '#'},
    {title: 'social', link: '#'},
    {title: 'news', link: '#'},
    {title: 'about', link: '#'},
    {title: 'professional', link: '#'}
]; %>

<header class="header">
    <div class="header-top">

        <%
        const addresses = [
            {address: 'Lorem ipsum 234651', link: '#'},
            {address: 'Dolorum, impedit 234651', link: '#'},
            {address: 'Dolor, illum 234651', link: '#'},
            {address: 'Doloremque, libero 234651', link: '#'},
            {address: 'Aliquam, velit 234651', link: '#'}
        ]
        %>
        <div class="address-box">
            <a class="address-box__nearest-salon" href="#"><span class="address-box__heading">nearest salon <img
                            src="img/ico_dropdown.svg" alt=""
                            class="address-box__dropdown"></span></a>
            <!--<p class="address-box__address"><%= addresses[0] %></p>-->
            <ul class="address-box__list">
                <% addresses.forEach( (item) => { %>
                    <li class="address-box__list-item"><a href="<%= item.link %>"
                                                          class="address-box__link"><%= item.address %></a></li>
                <% }) %>
            </ul>
        </div>
        <label class="menu-hidden">
            <input id="menu-check-box" type="checkbox" class="menu-hidden__check-box">
            <span class="menu-hidden__icon-wrap"><%- include('img/ico_hidden-menu.svg') %></span>
        </label>
        <div class="logo-box">
            <img src="img/logo.svg" alt="" class="logo">
        </div>
        <form action="#" class="search">
            <input class="search__field" type="search" placeholder="Search...">
            <input class="search__btn" type="image" src="img/ico_search.svg" alt="search-button-image">
        </form>
    </div>
    <div class="header-bottom">
        <nav id="menu" class="menu _hidden row">
            <% menuItems.forEach(item => { %>
                <li class="menu__item"><a class="menu__link" href="<%= item.link; %>"><%= item.title %></a></li>
            <% }) %>
        </nav>
    </div>
</header>

<%
const breadCrumbs = [
    {title: 'home', link: '#'},
    {title: 'videos', link: '#'}
]
%>
<ul class="bread-crumbs">
    <% breadCrumbs.forEach( (item, ind) => { %>
        <li class="bread-crumbs__item"><a href="<%= item.link %>"
                                          class="bread-crumbs__link"><%= item.title %></a><%= (ind !== breadCrumbs.length - 1) ? ' /' : '' %>
        </li>
    <% }) %>
</ul>
<section class="content">
    <div class="main row">
        <h1 class="heading-primary">videos</h1>
        <div class="video-box main__video">
            <a data-fancybox href="https://youtu.be/z8M0Fa1JVco">
                <img src="https://img.youtube.com/vi/z8M0Fa1JVco/maxresdefault.jpg" alt="" class="video-box__preview">
                <div class="video-box__btn-play _small"><img src="img/play-button.png" alt="play-button"></div>
            </a>
        </div>
        <p class="main__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci,
            asperiores aspernatur consequatur dolorum error illum maiores minus neque nesciunt.</p>
    </div>
    <%

     %>
    <div id="gallery" class="video-gallery">
    </div>
</section>
<footer class="footer clear-fix">
    <%
    const footerSocialItems = [
        {path: 'img/ico_facebook.svg', link: '#'},
        {path: 'img/ico_twitter.svg', link: '#'},
        {path: 'img/ico_pinterest.svg', link: '#'},
        {path: 'img/ico_youtube.svg', link: '#'},
        {path: 'img/ico_instagram.svg', link: '#'}
    ]
    %>
    <div class="social footer__social footer__item">
        <ul class="social__list footer__social-list">
            <% footerSocialItems.forEach( item => { %>
                <li class="social__item footer__social-item">
                    <a href="<%= item.link %>" class="social__link">
                        <div class="social__icon-wrap"><%- include(`${item.path}`) %></div>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
    <div class="location footer__location footer__item">
        <p class="location__item">location: <span class="location__value">united state</span></p>
        <p class="location__item">language: <span class="location__value">english</span></p>
    </div>
    <%
    const footerNavItems = [
        {title: 'privacy policy', link: '#'},
        {title: 'terms of use', link: '#'},
        {title: 'contact us', link: '#'},
        {title: 'newsletter', link: '#'},
        {title: 'sitemap', link: '#'}
    ]
    %>
    <div class="nav footer__nav footer__item">
        <ul class="nav__list">
            <% footerNavItems.forEach( item => { %>
                <li class="nav__item">
                    <a href="<%= item.link %>" class="nav__link"><%= item.title %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</footer>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="module" src="js/scripts.js"></script>
</body>
</html>
